In [1]:
import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plt
import random
import copy
import datetime
import time
import utm
from collections import Counter
from utm import from_latlon
# import conversion
sys.path.append('./utils')
from tqdm import tqdm
tqdm.pandas(desc="Progress")
import os
import seaborn as sns
%matplotlib inline

/Users/wuyuhan/anaconda3/lib/python3.7/site-packages/tqdm/std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [22]:
####################################################
# poi数据处理
####################################################

In [18]:
filepath = r'../clean_data/hangzhou_pois.csv'
data = pd.read_csv(filepath,index_col=0)
data.describe()

            citycode
count  119732.000000
mean      571.027369
std         0.251401
min       571.000000
25%       571.000000
50%       571.000000
75%       571.000000
max       575.000000

In [20]:
# id去重
data.drop_duplicates(subset=['id'], keep='first', inplace=True)
# 删除多余属性，name
del data['name']
data.describe()

            citycode
count  119732.000000
mean      571.027369
std         0.251401
min       571.000000
25%       571.000000
50%       571.000000
75%       571.000000
max       575.000000

In [21]:
del data['citycode']

In [5]:
data.describe()

                id           type              location
count       119732         119732                119732
unique      119732           2310                116331
top     B023B16CAQ  商务住宅;楼宇;商务写字楼  120.275826,30.316706
freq             1           1105                    58

In [6]:
# 把第一和第二类别抽取出来
types = data['type'].values
all_types = []
for x in types:
    k = x.split(';')
    all_types.append(k[0]+';'+k[1])
data['type'] = all_types

In [7]:
def get_types(row):
    types = row['type']
    k = types.split(';')
    return k[0], k[1]

data['type0'],data['type1'] = zip(*data.progress_apply(get_types, axis=1))
data.describe()

Progress: 100%|██████████| 119732/119732 [00:01<00:00, 106389.01it/s]

                id      type              location   type0   type1
count       119732    119732                119732  119732  119732
unique      119732       227                116331      23     227
top     B023B16CAQ  购物服务;专卖店  120.275826,30.316706    购物服务     专卖店
freq             1      6867                    58   24792    6867

In [8]:
# 发现汽车维修和汽车销售的poi需要调整
def clean_type(row):
    if (row['type0'] == '汽车维修') or (row['type0'] == '汽车销售'):
        return row['type0']
    else:
        return row['type1']
    
data['type'] = data.progress_apply(clean_type, axis=1)
data.describe()

Progress: 100%|██████████| 119732/119732 [00:01<00:00, 65809.93it/s]

                id    type              location   type0   type1
count       119732  119732                119732  119732  119732
unique      119732     158                116331      23     227
top     B023B16CAQ     专卖店  120.275826,30.316706    购物服务     专卖店
freq             1    6867                    58   24792    6867

In [10]:
# 统计一些频率过低的POI，删掉
types = data['type'].values
c = Counter(types)
c = dict(c)
for k, v in c.items():
    if v < 20:
        print(k,v)

加气站 15
其它能源站 5
知名企业 16
出租车 6
自来水营业厅 18
高尔夫相关 9
急救中心 18
外国机构 4
民主党派 3
交通服务相关 4
班车站 1
公司企业 14
服务区 4
道路附属设施 2
警示信息 1
市中心 1
公共设施 1
事件活动 4
特殊通道 1
虚拟门 5

In [11]:
data = data[~data.isin({'type':['加气站','其它能源站','知名企业','出租车' ,'自来水营业厅' ,'高尔夫相关' ,'急救中心' ,'外国机构' ,'民主党派' ,\
                            '交通服务相关' ,'班车站' ,'公司企业' ,'服务区' ,'道路附属设施' ,'警示信息','市中心' ,'公共设施' ,'事件活动'  ,'特殊通道','虚拟门']})]
data = data.dropna()
data.describe()

                id    type              location   type0   type1
count       119600  119600                119600  119600  119600
unique      119600     138                116201      23     207
top     B023B16CAQ     专卖店  120.275826,30.316706    购物服务     专卖店
freq             1    6867                    58   24792    6867

In [ ]:
idx2type = list(set(data['type']))
type_idx = {t:i for i,t in zip(range(len(idx2type)), idx2type)}
print(idx2type)
print(type_idx)

In [13]:
# 删除没用的属性
del data['type0']
del data['type1']
del data['id']
data.describe()

          type              location
count   119600                119600
unique     138                116201
top        专卖店  120.275826,30.316706
freq      6867                    58

In [15]:
# 把type转成idx
def type2idx(types):
    res = []
    for x in types:
        res.append(type_idx[x])
    return res
        
data['type'] = type2idx(data['type'].values)

In [ ]:
location = data['location'].values
def parse_location(location):
    lons = []
    lats = []
    for x in location:
        lon, lat = x.split(',')
        lons.append(float(lon))
        lats.append(float(lat))
    return lons, lats
data['lon'], data['lat'] = parse_location(location)

data = data[(data['lon']>=120.0000) & (data['lon']<=120.4784)]
data = data[(data['lat']>=30.1334) & (data['lat']<=30.4627)]
print(data['lon'][:10])
print(data['lat'][:10])

In [17]:
data.describe()

                type            lon            lat
count  119394.000000  119394.000000  119394.000000
mean       79.429569     120.207289      30.284471
std        39.702077       0.081118       0.060251
min         0.000000     120.000000      30.133432
25%        43.000000     120.160445      30.251562
50%        89.000000     120.197836      30.285772
75%       115.000000     120.257107      30.318293
max       137.000000     120.478362      30.462683

In [18]:
def wgs84_2_xy(row):
    east, north, _, _ = from_latlon(row['lat'], row['lon'])#from_latlon()函数将经纬度转换成XY坐标
    return east, north

data["east"], data["north"] = zip(*data.progress_apply(wgs84_2_xy, axis=1))
data = data.drop(columns=['lon','lat']) # 删除原始的经纬度坐标
data.describe()

Progress: 100%|██████████| 119394/119394 [00:08<00:00, 13597.29it/s]

                type           east         north
count  119394.000000  119394.000000  1.193940e+05
mean       79.429569  231368.117090  3.353614e+06
std        39.702077    7815.318756  6.673807e+03
min         0.000000  211079.122959  3.336353e+06
25%        43.000000  226816.881435  3.350015e+06
50%        89.000000  230420.059748  3.353864e+06
75%       115.000000  236169.800852  3.357287e+06
max       137.000000  257610.124387  3.373519e+06

In [19]:
la = [(30.1334, 120.0000), (30.4627, 120.4784),(30.1334, 120.2784), (30.4627, 120.0000)]
for lat,lon in la:
    east, north, _, _ = from_latlon(lat, lon)
    print(east,north)

210978.74293036625 3337368.0197867323
257895.39660109906 3372760.1071537775
237810.50672122062 3336694.8923783028
211944.20813006174 3373883.5253603132

In [20]:
data['east'] = data['east'] - 210978
data['north'] = data['north'] - 3336694
data.describe()

                type           east          north
count  119394.000000  119394.000000  119394.000000
mean       79.429569   20390.117090   16919.715414
std        39.702077    7815.318756    6673.807082
min         0.000000     101.122959    -340.626291
25%        43.000000   15838.881435   13320.650297
50%        89.000000   19442.059748   17170.424172
75%       115.000000   25191.800852   20593.124471
max       137.000000   46632.124387   36824.594580

In [22]:
class Region:
    def __init__(self, east, north, e_rs, n_rs):
        self.global_width = east + 1 # 地图宽度
        self.global_height = north + 1 # 地图高度
        self.xs = e_rs # 横向区域数
        self.ys = n_rs # 纵向区域数
        self.__region_width = self.global_width / self.xs # 区域宽度        
        self.__region_height = self.global_height / self.ys # 区域高度
        self.__region_bounds = None # 每个区域的起始坐标
        self.__region_map = None # 起始坐标映射到区域
        self.__tokenization()
    def mapping(self, locations):
        """
        locations: [[e,n],...] 列表，包含东北坐标元素
        
        return: regions [region_id,...] 返回坐标所属的区域id
                xs [x,...]
                ys [y,...]
        """
        locs = np.array(locations)
        # -> n x 2
        # 向下取整
        xs=locs[:,0].reshape(-1,1) // self.__region_width
        ys=locs[:,1].reshape(-1,1) // self.__region_height
        es = xs * self.__region_width
        ns = ys * self.__region_height

        es = es.astype('int64')
        ns = ns.astype('int64')
        
        locs = np.concatenate([es,ns] ,axis = 1)
        locs = [(x,y) for x,y in locs]
        
        regions = []

        for t in locs:
            assert t[0]< self.global_width and t[1] < self.global_height, "{},{}坐标超出边界！".format(t[0],t[1])
            regions.append(self.__region_map[t])
        return regions, xs.astype('int64'), ys.astype('int64')
    
    def __tokenization(self):
        idxs = range(self.xs * self.ys)
        
        # 按照米
        x_bounds = [int(self.__region_width * i) for i in range(self.xs)]
        y_bounds = [int(self.__region_height * i) for i in range(self.ys)]
        self.__region_bounds = [(x,y) for x in x_bounds for y in y_bounds]
        self.__region_map = {bound:idx for bound,idx in zip(self.__region_bounds,idxs)}
        
        self.id2xy = [(x,y) for x in range(self.xs) for y in range(self.ys)]
        self.xy2id = {(x,y):idx for idx,(x,y) in zip(idxs,self.id2xy)}
        
    def details(self):
        print("地图宽度{},地图高度{}".format(self.global_width,self.global_height))
        print("区域宽度{}，区域高度{}".format(self.__region_width,self.__region_height))

In [23]:
# 计算边界，用于划分区域，正式试验数据
east_zero = 210978
north_zero = 3336694
east_max = 257895 - east_zero
north_max = 3373883 - north_zero
side_len = 32 # 一边的网格数
region = Region(east_max, north_max, side_len, side_len)
region.details()

地图宽度46918,地图高度37190
区域宽度1466.1875，区域高度1162.1875

In [ ]:
data = data[(data['north'] > 0) & (data['east'] > 0)]
data.describe()

In [25]:
names=['id','lon','lat','state','date','time']
# dtypes = {'id' : int,'lon' : float, 'lat': float,'state' : int,'date' : int, \
#           'time' : }

In [26]:
locations = data[['east','north']].values.tolist() #locations: [[e,n],...] 列表，包含东北坐标元素
data['region'], data['x'], data['y'] = region.mapping(locations)
data = data.drop(columns=['east','north'])
data.describe()

                type         region              x              y
count  119375.000000  119375.000000  119375.000000  119375.000000
mean       79.427996     443.023765      13.405043      14.062392
std        39.703266     171.120895       5.336957       5.748466
min         0.000000       0.000000       0.000000       0.000000
25%        43.000000     335.000000      10.000000      11.000000
50%        89.000000     426.000000      13.000000      14.000000
75%       115.000000     547.000000      17.000000      17.000000
max       137.000000    1022.000000      31.000000      31.000000

In [28]:
####################################################
# 出租车数据处理
####################################################

In [192]:
# 数据装载 day01.txt
names=['id','lon','lat', 'state', 'date', 'time']
df = pd.read_csv('../data/taxi_raw_data/data01.txt', sep = ' ',names=names )

In [194]:
def data_cleansing(df):
    """
    Data cleansing function.
    1. Delete the invalid state.
    2. Delete the invalid time and format time 
    2. Consistent with the poi data set.
    
    Parameters:
     df - (pandas.Dataframe) Data to cleansing.
     
    Returns:
     Data (Dataframe)
    """
    df = df[df['state'].isin([1, 2])]
    df = df[df['time'].apply(lambda x : x[:x.find(':')]).astype(int) <= 24]
    df = df.dropna(axis = 0) # 删除缺失数据 
    df = df[(df['lon'] > 1.2e2) & (df['lon'] < 1.204784e2) & (df['lat'] > 3.01334e1) & (df['lat'] < 3.04627e1)]
    df['new_time'] = df['time'].apply(lambda x : ''.join(x.split(':')))
    df['date'] = df['date'].apply(lambda x : ''.join(x.split('-')))
    df['convert_time'] = df['date'] + df['new_time']
    del df['date']
    df = df[df['convert_time'].apply(lambda x : len(str(x))) <= 13]
    del df['new_time']
    return df
df = data_cleansing(df)

In [195]:
df.describe()

                lon           lat         state
count  4.624880e+06  4.624880e+06  4.624880e+06
mean   1.201689e+02  3.028237e+01  1.492861e+00
std    7.085422e-02  4.081487e-02  4.999491e-01
min    1.200000e+02  3.013342e+01  1.000000e+00
25%    1.201282e+02  3.025617e+01  1.000000e+00
50%    1.201616e+02  3.028398e+01  1.000000e+00
75%    1.201864e+02  3.031156e+01  2.000000e+00
max    1.204782e+02  3.046265e+01  2.000000e+00

In [ ]:
def data_day2hours(df):
    """
    Divide the daily data to hours data.
    
    Parameters:
     df - (pandas.Dataframe) Daily data.
     
    Returns:
     Hours data (list)
 
    Raises:
     None, todo
    """
    
    hours_data = []
    # 直接截取字符串获取小时进行group
    df['hour'] = df['time'].apply(lambda x : x[ : x.find(':')]).astype(int)
    for i,g in df.groupby("hour"):  
        print(i)
        hours_data.append(g)
    return hours_data
hours_data = data_day2hours(df)

In [24]:
def cal_matrix(source, region, **kwargs):
    """
    Calculate Correlation matrix(region_side_len**2, region_side_len**2)

    Parameters:
     source - (pandas.Dataframe) Hour data.
     region - (Region) Urban region object
     
    Returns:
     corr_matrix
 
    Raises:
     None, todo
    """
    side_len = region.xs
    df = source
    df = df[['id','lon','lat','state','time', 'convert_time']]
    # 墨卡托投影
    df["east"], df["north"] = zip(*df.progress_apply(wgs84_2_xy, axis=1))
    df = df.drop(columns=['lon','lat']) # 删除原始的经纬度坐标
    df['east'] = df['east'] - east_zero
    df['north'] = df['north'] - north_zero
    df=df[(df['east'] > 0) & (df['north'] > 0)]
    locations = df[['east','north']].values.tolist() #locations: [[e,n],...] 列表，包含东北坐标元素
    df['region'], df['x'], df['y'] = region.mapping(locations)
    df = df.drop(columns=['east','north'])
    # df -> (id, state, time, convert_time, x, y, region)
    print(df)
    corr_matrix = cal_corr(df, side_len)
    return corr_matrix

In [23]:
def cal_corr(source, side_len, **kwargs):
    """
    The core of calculate Correlation matrix(region_side_len**2, region_side_len**2)

    Parameters:
     source - (pandas.Dataframe) Hour data.
     side_len - (int) The length of urban region side
     
    Returns:
     corr_matrix
 
    Raises:
     None, todo
    """
    df = copy.deepcopy(source)
    res = np.zeros((side_len**2, side_len**2))
    
    df = df.groupby(['id'])
    for id, g in df:
        data = copy.deepcopy(g)
        
        data = data.sort_values(by='convert_time',ascending=True)
        data['state_1']=data['state'].shift(1)#下移一个数
        data['change']=data['state'] - data['state_1']
        data = data[(data['change'] == 1) | (data['change'] == -1)]
        data = data.reset_index(drop=True)
        if len(data) and data.at[0,'change'] == -1: # 开头必须是上车
            data = data[1:]
                    
        if len(data) and len(data) % 2 != 0:
            data = data[0:-1]
        data = data.reset_index(drop=True)

        for i in range(0, len(data), 2):
            pick_up = data.at[i,'region']
            get_off = data.at[i+1,'region']
            res[pick_up, get_off] = res[pick_up, get_off] + 1
    return res

In [ ]:
# 测试day01.txt
corr_seq = []
for i,d in enumerate(hours_data):
    print('hour',i)
    print('size', len(d))
    t0 = time.time()
    corr= cal_matrix(d, region)
    print(corr)
    corr_seq.append(corr)
#     np.save("../clean_data/" + )
    t1 = time.time()
    print('process cost', t1-t0,'s')

In [167]:
# 封装为函数
def process(hours_data, region):
    corr_seq = []
    for i,d in enumerate(hours_data):
        print('hour',i)
        print('size', len(d))
        t0 = time.time()
        corr= cal_matrix(d, region)
        print(corr)
        corr_seq.append(corr)
        # np.save("../clean_data/" + )
        t1 = time.time()
        print('process cost', t1-t0,'s')
    return corr_seq

In [ ]:
# 测试整个文件夹
for root, dirs, files in os.walk("../data/taxi_raw_data/", topdown=False):
    del files[0]
    for name in files:
        filepath = os.path.join(root, name)
        print('##############处理'+filepath+'##################')
        print(filepath)
        # 数据装载
        names=['id','lon','lat', 'state', 'date', 'time']
        df = pd.read_csv(filepath, sep = ' ',names=names )
        # 数据清理
        df = data_cleansing(df)
        # 转换为小时数据
        hours_data = data_day2hours(df)
        corr_seq = process(hours_data, region)
        np.save('../clean_data/'+name[:name.find('.')], corr_seq)
        print('##############'+filepath+'处理文完毕##################')